$mainFontColor: #fff;
$greyedOutFontColor: #777;
$secondaryFontColor: #ccc;
$mainBackgroundColor: #121212;
$cardBackgroundColor: rgba(255, 255, 255, 0.09);

$priority0Color: grey;
$priority1Color: #4772fa;
$priority2Color: #ffb000;
$priority3Color: #e03131;

$priorityDotSize: 0.7em;
$listFontSize: 1rem;
$listSpacing: 0.5rem;
$todoSpacing: 0.5rem;
$inlineTodoSpacing: 0.7em;
$headerFontSize: 1.5rem;
$mainSpacing: 1rem;
$cardPadding: 0.8rem;
$mainShadow: 0 0 0.6rem rgba(0, 0, 0, 0.5);
$cardBorderRadius: 0.8rem;
$accentColor: rgba(255, 255, 255, 0.2);
$hoverAccentColor: rgba(255, 255, 255, 0.15);
// $accentColor: teal;
// $hoverAccentColor: rgb(0, 105, 105);
$titleFontSize: 1.3rem;
$titlePadding: 1.1rem;
$priorityBtnBorderWidth: 1px;